@import "compass/css3";
@import "color-variables";

body {
  -webkit-font-smoothing: antialiased;
  color: $gray-dark;
  font-family: 'Droid Serif', serif;
}

// Element tags are listed first, then classes
// All items & properties listed in alphabetical order

a {
  color: $blue-link;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}