@import "bourbon";
@import "color-variables";

body {
  -webkit-font-smoothing: antialiased;
  color: $gray-dark;
  font-family: "ff-tisa-web-pro",serif;
  font-size: 18px;
  margin: 0px;
}

// Element tags are listed first, then classes
// All items & properties listed in alphabetical order