@import "compass/css3";
@import "color-variables";

body {
  -webkit-font-smoothing: antialiased;
  color: $gray-dark;
  font-family: "ff-tisa-web-pro",serif;
}

// Element tags are listed first, then classes
// All items & properties listed in alphabetical order