@import "bourbon";
@import "color-variables";

.btn {
  display: inline-block;
  border-radius: 4px;
  font-weight: bolder;
  font-style: italic;
  padding: 10px 20px 15px;
  font-size: 24px;
  text-decoration: none;
  background: #39474e;
  color: #fff;
  
  &:hover {
    background: #39474e;
    text-decoration: none;
  }

  &.hover-red {
    background: $red;
    text-decoration: none;
  }

  &.hover-red:hover {
    background: #7A1B1B;
    text-decoration:none;
  }

  &.hover-yellow {
    background: $yellow;
    text-decoration: none;
  }

  &.hover-yellow:hover {
    background: #A78D25;
    text-decoration: none;
  }

  &.hover-blue {
    background: $blue;
    text-decoration: none;
  }

  &.hover-blue:hover {
    background: #20719E;
    text-decoration: none;
  }

  &.btn-contact {
    background: $blue-contact;
    font-style: normal;
    text-align: center;

    img {
      display: inline-block;
    }

    p {
      display: inline-block;
      color: #fff;
      font-weight: 100;
      font-size: 24px;
      margin: 0;
      padding-left: 10px;
    }

    &:hover {
      background: #1b93c4;
    }
  }
}

