@import "bourbon";
@import "color-variables";

.btn {
  display: inline-block;
  border-radius: 4px;
  font-weight: bolder;
  font-style: italic;
  padding: 10px 20px 15px;
  font-size: 24px;
  text-decoration: none;
  background: $gray-med;
  color: #fff;
  
  &:hover {
    background: $gray-dark;
    text-decoration: none;
  }

  &.hover-red:hover {
    background: $red;
    text-decoration: none;
  }

  &.hover-yellow:hover {
    background: $yellow;
    text-decoration: none;
  }

  &.hover-blue:hover {
    background: $blue;
    text-decoration: none;
  }

  &.btn-contact {
    background: $blue-contact;
    font-style: normal;
    text-align: center;

    img {
      display: inline-block;
    }

    p {
      display: inline-block;
      color: #fff;
      font-weight: 100;
      font-size: 24px;
      margin: 0;
      padding-left: 10px;
    }

    &:hover {
      background: #1b93c4;
    }
  }
}

