// Color Variables:
$gray-lighter: #F2F4F5;
$gray-light: #E3E7E9;
$gray-med: #ADB8C4;
$gray-dark: #39474e;
$red: #A02121;
$blue: #2C94CE;
$blue-contact: #20a3d9;
$blue-link: #158cbd;
$yellow: #CEAE2C;
$gold: #C4843C;
$green: #3AC29C; // location page green

// Element tags are listed first, then classes
// All items & properties listed in alphabetical order
// When using the background classes we will need to override the hover state 
// for the header sections

.blue-bg {
  background: $blue;
  color: white;
}

.blue-text {
  color: $blue;
}

.blue-link-bg {
  background: $blue-link;
  color: white;
}

.blue-contact-bg {
  background: $blue-contact;
  color: white;
}

.gold-bg {
  background: $gold;
  color: white;
}

.gold-text {
  color: $gold;
}

.gray-dark-bg {
  background: $gray-dark;
  color: white;
}

.gray-lighter-bg {
  background: $gray-lighter;
  color: $gray-dark;
}

.gray-light-bg {
  background: $gray-light;
  color: $gray-dark;
}

.gray-med-bg {
  background: $gray-med;
  color: $gray-dark;
}

.gray-med-text {
  color: $gray-med;
}

.red-bg {
  background: $red;
  color: white;
}

.red-text {
  color: $red;
}

.yellow-bg {
  background: $yellow;
  color: white;
}

.yellow-text {
  color: $yellow;
}

// Link styling - white 
.link-w {
  a {
    color: white;
    
    &:hover {
      color: white;
    }
  }
}