@import "compass/css3";
@import "color-variables";

.content-box {
	padding: 30px 0px 50px;
}

.questions-box {
	background: $gray-light;
	text-align: center;
	padding: 1% 4%;
	margin: 0px auto;
	margin-bottom: 33px;
	width: 92%;
	font-size: 15px;
}

.three-col-cta {
	margin-top: 30px;
	margin-bottom: 30px;
	.copy-box {
		padding: 0px;
	}

	h3 {
		margin: 0 0 0 0px;
		@media (max-width: 768px) {
			text-align: center;
			margin: 0px;
		}
	}

	img {
		float: left;
		@media (max-width: 768px) {
			float: none;
		}
	}

	.cta-box {
		padding: 0px;
	}

	.image-box {
		margin: 0px auto;
		padding: 0px;
		@media (max-width: 768px) {
			margin-bottom: 15px;
			width: 110px;
		}
	}

	p {
		margin: 0 0 0 0px;
		@media (max-width: 768px) {
			margin: 0px;
		}
	}

	a {
		margin-top: 54px;
		float: right;
		@media (max-width: 768px) {
			margin-top: 20px;
			float: none;
		}
	}

	&.no-mobile-img {
		@media (max-width: 768px) {
			.image-box {
				display: none;
			}
		}
	}
}

.two-col-bio {
	width: 95%;
	background: $gray-light;
	margin: 50px auto;

	.two-col-bio-left {
		display: inline-block;
		margin: 30px 30px 15px;
		vertical-align: top;

		a {
			display: block;
			margin-top: 5px;
		}
	}

	.two-col-bio-right {
		display: inline-block;
		vertical-align: top;
		width: 55%;

		@media (min-width: 1200px) {
			width: 65%;
		}

		@media (max-width: 992px) {
			width: 45%;
		}
	}

	ul.links {
		padding-bottom: 19px;
		font-size: 18px;
		font-weight: 500;
		margin: 0px;
		
		li {
			display: inline-block;
			list-style-type: disc;
		}
	}

	@media (max-width: 768px) {
		.two-col-bio-left {
			width: 100%;
			text-align: center;
		}

		.two-col-bio-right {
			width: 95%;
			margin-left: 2.5%;
			margin-right: 2.5%;
		}

		.btn-hello {
			width: 250px;
			margin: 10px auto;
		}
	}

}

.two-col-cont {
	.two-col-left {
		display: inline-block;
		margin: 0px 9% 0px 0px;
		vertical-align: top;
		width: 45%;
		@media (max-width: 780px) {
			display: inline-block;
			vertical-align: middle;
			zoom: 1;
			float: none;
			margin: 0;
			padding: 0;
			width: 100% !important;
		}
	}

	.two-col-right {
		display: inline-block;
		margin: 0;
		vertical-align: top;
		width: 45%;
		@media (max-width: 780px) {
			display: inline-block;
			vertical-align: middle;
			zoom: 1;
			float: none;
			margin: 0;
			padding: 0;
			width: 100% !important;
		}
	}
}