@import "bourbon";
@import "color-variables";
@import "bootstrap";

$nav-text-color: #eef1f6;
$nav-text-color-mute: rgba(255, 255, 255, 0.5);
$nav-text-color-underline: rgba(255, 255, 255, 0.5);

// Element tags are listed first, then classes
// All items & properties listed in alphabetical order

.footer {
  background: #39474e;
  background-size: cover;
  clear: both;
  height: 120px;
  padding-bottom: 15px;

  .copyright {
    color:#b5b7be;
    font-size:12px;
    padding-right:13px;
    text-align:right;

    @media (max-width: 992px){
      padding-right:0;
      text-align:center;
    }

  }

  .footer-nav ul {
    margin: 0;
    padding-right: 13px;
    padding-top: 5px;
    text-align:right;

    li {      
      color:white;
      display: inline-block;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      margin: 0 8px;
      padding: 15px 0 3px;
      text-transform: uppercase;
      
      a {
        color: #eef1f6;
      }
          
      a:hover {
        border-bottom: 3px solid rgba(255,255,255,.5);
        text-decoration: none;
      }

      @media (max-width: 992px) {
      font-size:12px;
      }

      @media (max-width: 640px) {
        padding: 2px 0 0 0;
      }
    } 

    @media (max-width: 992px) {
      padding: 0;
      text-align:center
    }
  }

  .logo {
    float:left;
    margin: 22px 0 18px;
    width:10%;

    @media (max-width: 992px) {
          display:none
    }
  }

  .social-nav {
    ul {
      list-style:none;
      margin: 11px 20px -3px 20px;
      text-align:right;

      li {
        display: inline-block;
        margin-bottom: 6px;
        padding: 0 2px 0 8px;
  
        a {
          color:#eef1f6;
          font-size:20px;
        }
  
        a:hover {
          border-bottom: 3px solid rgba(255,255,255,.5);
          text-decoration:none;
        }

        @media (max-width:640px) {
          margin-bottom: 0px;
          padding: 0 3px 0 3px;
        }
      }

      @media (max-width: 992px) {
        text-align:center
      }
    }  
  }

  .wrapper {
    height:100%;
    position:relative;
  }

  @media (max-width:412px) {
    height:140px
  }

}


.header {
  @extend .row;
  @include clearfix;
  background: url(http://theironyard.com/images/pattern.png?1393883957);
  background-color: #39474E;
  padding:15px 20px 0px 20px;

  ul {
    margin: 0;
    @include clearfix;

    li {
      display: inline-block;
      list-style-type: none;
      margin-right: 10px;
      margin-bottom: 6px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .logo {
    @extend .col-xs-6;
    @extend .col-xs-offset-3;
    @extend .col-sm-2;
    @extend .col-sm-offset-0;
    @extend .col-md-1;

    img {
      width: 100%;
      min-width: 90px;
      max-width: 180px;


    }

    @media (min-width: 992px) {
      margin-left: -20px
    }

    @media (min-width: 768px) {
      margin-left: -30px
    }
    
  }

  .nav {
    @extend .col-xs-12;
    @extend .col-sm-10;
    @extend .col-md-11;

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) { 
      padding-left: 0;
      padding-top: 30px;
    }
  }

  .primary-nav {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    @extend .col-xs-12;
    @extend .col-md-8;

    a {
      color: $nav-text-color;

      &:hover,
      &.active {
        border-bottom: 3px solid $nav-text-color-underline;
        text-decoration: none;
      }
    }

    // accounts for issues with alignment when line breaks
    ul {
      @media (min-width:768px) {
        margin-left: -18px;
      }
    }  

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) { 
      padding-left: 60px;
    }

    @media (max-width: 992px){
    margin: -10px 0 -8px 0;
  }
  }

  .secondary-nav {
    float: right;
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
    @extend .col-xs-12;
    @extend .col-md-4;

    @media screen and (min-width: 993px) {

      ul {
        float: right;
      }  
    }

    a {
      color: $nav-text-color-mute;

      &:hover,
      &.active {
        color: $nav-text-color;
        text-decoration: none;
      }
    }
  }
  
  @media screen and (max-width: 768px) {

    text-align: center;

    ul {

      text-align: center;
      li {
        text-align: center; 
        margin: 0 6px 6px;

        &:last-child {
          margin: 0 6px 6px;
        }
      }
    }
  }
}

.nav-footer {
  float: right;
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
  li {
    float: left;
    list-style-type: none;
    a {
      color: $nav-text-color;
      margin: 0 8px;
      &:hover,
      &.active {
        border-bottom: 3px solid $nav-text-color-underline;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

.sub-nav {
  padding:1px 10px 0 0;

  h2 {
    margin-bottom: 30px;
    margin-top: 18px;
    font-size: 50px;

    @media (max-width: 490px) {
      margin-bottom:12px;
      margin-top:12px;
      font-size:30px;
    }
  }

  ul { 
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    font-size: 24px;
    margin: 0;
    margin-bottom:-22px;
    padding-top: 15px;
    @include clearfix();

    @media (max-width:490px)  {
        margin-bottom:-16px;
    }

    li {
      float: left;
      list-style-type: none;

      a {
        color: $nav-text-color;
        margin: 0 10px;
        &:hover,
        &.active {
          border-bottom: 3px solid $nav-text-color-underline;
          cursor: pointer;
          text-decoration: none;
        }
      }

      @media(max-width: 490px) {
        font-size:18px;
        display:block;
        margin-right: 200px;
        margin-bottom: 0px;
      }
    }
  }
}

.nav-sub-vertical {
  // border-top: 3px solid rgba(255, 255, 255, 0.5);
  float: right;
  font-size: 18px;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    font-weight: bolder;
    line-height: 24px;
    list-style-type: none;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 170px;
    a {
      color: $green;
      &:hover,
      &.active {
        border-bottom: 3px solid $nav-text-color-underline;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }  
}

.triangle {
  position: relative;
  z-index: 1;
  bottom: -40px;
  left:13px;
  border-right: 18px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 18px solid transparent;
  width: 0;
  height: 0;
}

