@import "compass/css3";
@import "color-variables";

.photo-alum {
  border: 6px solid #FFF;
  box-shadow: 0px 0px 3px 1px #D3D3D3;
  height: 270px;
  width: 271px;
}

.photo-lg {
  @include border-radius(3px);
  height: 240px;
  width: 400px;
}

.photo-md {
  @include border-radius(3px);
  height: 188px;
  width: 300px;
}

.photo-mentor {
  height: 240px;
  width: 220px;
}

.photo,
.photo-sm {
  @include border-radius(3px);
  height: 125px;
  width: 125px;
}