@import "bourbon";
@import "color-variables";

// Element tags are listed first, then classes
// All items & properties listed in alphabetical order

.photo-bio {
  border: 6px solid #FFF;
  box-shadow: 0px 0px 3px 1px #D3D3D3;
  display: block;
  margin: 10px auto;
  width: 271px;
}

.photo {
  border-radius: 3px;
  width: 100%;
}

.photo-medium {
  width: 60%;
}

.photo-list {
  display:inline-block; 
  padding:10px;
  text-align:center;
  vertical-align:top;

  .photo-container {
    box-shadow: 0px 0px 3px 1px rgba(149, 147, 147, 0.72); 
    padding: 5px
  }
}

.photo-mentor {
  width: 220px;
  text-align:center;
}

.photo-thumbnail {
  border-radius: 3px;
  width: 125px;
}