@import "bourbon";
@import "color-variables";

pre {
  font-size: 15px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.sg-header {
  text-align: center;
}

.sg-sidebar, .sg-main {
  border: 1px solid $gray-med;
}

.sg-colors {
  .row {
    margin-bottom: 50px;
  }
}

.sg-example {
  span {
    display: block;
  }

  pre {
    display: inline;
  }
}

.sg-circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.sg-container {
  border-top: 1px solid $gray-med;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}


