h2.section-headline Button Styles
.sg-container
  .sg-section
    .sg-demo
      a.btn(href="#") Learn More
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          a.btn
  
  .sg-section
    .sg-demo
      a.btn.hover-red(href="#") Learn More
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          a.btn.hover-red
  
  .sg-section
    .sg-demo
      a.btn.hover-yellow(href="#") Learn More
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          a.btn.hover-yellow

  .sg-section
    .sg-demo
      a.btn.hover-purple(href="#") Learn More
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          a.btn.hover-purple
  
  .sg-section
    .sg-demo
      a.btn.hover-blue(href="#") Learn More
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          a.btn.hover-blue


  .sg-section
    .sg-demo
      a.btn.btn-contact(href="#")
        img(src="http://theironyard.com/images/email.png")
        p Say Hello
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          a.btn.btn-contact(href="#")
            img(src="http://theironyard.com/images/email.png")
            p Say Hello