h2 Button Styles
.sg-container
  .row
    .col-sm-3
      a(href="#").btn Learn More
    .sg-example.col-sm-3
      span Class:
        pre .btn
    .col-sm-3
      a(href="#").btn.hover-red Learn More
    .sg-example.col-sm-3
      span Class:
        pre .btn.hover-red
  br
  br
  .row
    .col-sm-3
      a(href="#").btn.hover-yellow Learn More
    .sg-example.col-sm-3
      span Class:
        pre .btn.hover-yellow
    .col-sm-3
      a(href="#").btn.hover-blue Learn More
    .sg-example.col-sm-3
      span Class:
        pre .btn.hover-blue
  br
  br
  .row
    .col-sm-3
      a(href="#").btn.btn-hello
        img(src="http://theironyard.com/images/email.png")
        p Say Hello
    .sg-example.col-sm-3
      span Class:
        pre .btn.btn-hello