.container
  .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
    h2 Button Styles
  .style-container.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
    .style-contents.col-lg-12.col-md-12.col-sm-12
      .style-item.col-md-6.col-sm-6.text-center
        a(href="#").btn Learn More
        p Default style
        pre .btn
      .style-item.col-md-6.col-sm-6.text-center
        a(href="#").btn.hover-red. Learn More
        p Ruby Course
        pre .btn.hover-red
      .style-item.col-md-6.col-sm-6.text-center
        a(href="#").btn.hover-yellow. Learn More
        p Front-End Course
        pre .btn.hover-yellow
      .style-item.col-md-6.col-sm-6.text-center
        a(href="#").btn.hover-blue. Learn More
        p Mobile Course
        pre .btn.hover-blue
      .style-item.col-md-6.col-sm-6.text-center
        a(href="#").btn.btn-hello
          img(src="http://theironyard.com/images/email.png")
          p Say Hello
        p Contact Button
        pre .btn.btn-hello