h2 Button Styles
.sg-container
  .sg-section
    .sg-demo
      a(href="#").btn Learn More
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          .btn
  
  .sg-section
    .sg-demo
      a(href="#").btn.hover-red Learn More
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          .btn.hover-red
  
  .sg-section
    .sg-demo
      a(href="#").btn.hover-yellow Learn More
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          .btn.hover-yellow
  
  .sg-section
    .sg-demo
      a(href="#").btn.hover-blue Learn More
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          .btn.hover-blue