h2.section-headline Color Variables
.sg-container.sg-colors
  .row
    .col-sm-2
      .sg-circle.gray-lighter-bg
    .col-sm-4.sg-example
      p Gray option for section backgrounds
      pre
        code.prettyprint.lang-jade.
          // variable
          $gray-light
          
          // class
          .gray-light-bg


    .col-sm-2 
      .sg-circle.gray-med-bg
    .col-sm-4.sg-example
      p Another gray option for a section
      pre
        code.prettyprint.lang-jade.
          // variable
          $gray-med
          
          // class
          .gray-med-bg


  .row
    .col-sm-2 
      .sg-circle.gray-dark-bg
    .col-sm-4.sg-example
      p Footer background & default text color
      pre
        code.prettyprint.lang-jade.
          // variable
          $gray-dark
          
          // class
          .gray-dark-bg

    .col-sm-2
      .sg-circle.blue-bg
    .col-sm-4.sg-example
      p For Mobile course
      pre
        code.prettyprint.lang-jade.
          // variable
          $blue
          
          // classes
          .blue-bg
          .blue-text

  .row
    .col-sm-2
      .sg-circle.yellow-bg
    .col-sm-4.sg-example
      p For JS course
      pre
        code.prettyprint.lang-jade.
          // variable
          $yellow
          
          // classes
          .yellow-bg
          .yellow-text

    .col-sm-2
      .sg-circle.red-bg
    .col-sm-4.sg-example
      p For Ruby course
      pre
        code.prettyprint.lang-jade.
          // variable
          $red
          
          // classes
          .red-bg
          .red-text

  .row
    .col-sm-2
      .sg-circle.gold-bg
    .col-sm-4.sg-example
      p For sponsor section
      pre
        code.prettyprint.lang-jade.
          // variable
          $gold
          
          // class
          .gold-bg
          .gold-text

    .col-sm-2
      .sg-circle.blue-link-bg
    .col-sm-4.sg-example
      p It's blue!
      pre
        code.prettyprint.lang-jade.
          // variable
          $blue-link
          
          // class
          .blue-link-bg

  .row
    .col-sm-2
      .sg-circle.blue-contact-bg
    .col-sm-4.sg-example
      p For 'Say Hello' button
      pre
        code.prettyprint.lang-jade.
          // variable
          $blue-contact
          
          // class
          .blue-contact-bg
