.container
 .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  h2 Color Variables
 .style-container.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  .style-contents
   .style-item.col-md-6.col-sm-6
    .circle.gray-light-background
     pre $gray-light
     p <a href="#" class="text-center">link</a>
    p.text-center Gray option for section backgrounds
    pre.text-center .gray-light-background
   .style-item.col-md-6.col-sm-6
    .circle.gray-med-background 
     pre $gray-med
     p <a href="#" class="text-center">link</a>
    p.text-center Another gray option for a section
    pre.text-center .gray-med-background
   .style-item.col-md-6.col-sm-6
    .circle.gray-dark-background 
     pre $gray-dark
     p <a href="#" class="text-center">link</a>
    p.text-center Footer background & default text color
    pre.text-center .gray-dark-background
   .style-item.col-md-6.col-sm-6
    .circle.blue-background 
     pre $blue
     p <a href="#" class="text-center">link</a>
    p.text-center For Mobile course
    pre.text-center .blue-background
   .style-item.col-md-6.col-sm-6
    .circle.yellow-background
     pre $yellow
     p <a href="#" class="text-center">link</a>
    p.text-center For JS course
    pre.text-center .yellow-background
   .style-item.col-md-6.col-sm-6
    .circle.red-background
     pre $red
     p <a href="#" class="text-center">link</a>
    p.text-center For Ruby course
    pre.text-center .red-background
   .style-item.col-md-6.col-sm-6
    .circle.gold-background
     pre $gold
     p <a href="#" class="text-center">link</a>
    p.text-center For sponsor section
    pre.text-center .gold-background
   .style-item.col-md-6.col-sm-6
    .circle.blue-link-background
     pre $blue-link
    p.text-center Link color