.container
 .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
  h2 Color Variables
 .style-container.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
  .style-contents.col-lg-12.col-md-12.col-sm-12
   .col-md-4.col-sm-4
    .circle.gray-light-background $gray-light
    p.text-center .gray-light-background
   .col-md-4.col-sm-4
    .circle.gray-med-background $gray-med
    p.text-center .gray-med-background
   .col-md-4.col-sm-4
    .circle.gray-dark-background $gray-dark
    p.text-center .gray-dark-background
   .col-md-4.col-sm-4
    .circle.blue-background $blue
    p.text-center .blue-background
   .col-md-4.col-sm-4
    .circle.yellow-background $yellow
    p.text-center .yellow-background
   .col-md-4.col-sm-4
    .circle.red-background $red
    p.text-center .red-background
   .col-md-4.col-sm-4
    .circle.gold-background $gold
    p.text-center .gold-background