h2 Color Variables
.sg-container.sg-colors
  .row
    .col-sm-2
      .sg-circle.gray-lighter-bg
    .col-sm-4.sg-example
      p Gray option for section backgrounds
      span Variable:
        pre $gray-lighter
      span Class:
        pre .gray-lighter-bg

    .col-sm-2 
      .sg-circle.gray-light-bg
    .col-sm-4.sg-example
      p Another gray option for a section
      span Variable:
        pre $gray-light
      span Class:
        pre .gray-light-bg

  .row
    .col-sm-2 
      .sg-circle.gray-med-bg
    .col-sm-4.sg-example
      p Footer background & default text color
      span Variable:
        pre $gray-med
      span Class:
        pre .gray-med-bg

    .col-sm-2 
      .sg-circle.gray-dark-bg
    .col-sm-4.sg-example
      p Footer background & default text color
      span Variable:
        pre $gray-dark
      span Class:
        pre .gray-dark-bg
  
  .row
    .col-sm-2
      .sg-circle.blue-bg
    .col-sm-4.sg-example
      p For Mobile course
      span Variable:
        pre $blue
      span Class:
        pre .blue-bg

    .col-sm-2
      .sg-circle.yellow-bg
    .col-sm-4.sg-example
      p For JS course
      span Variable:
        pre $yellow
      span Class:
        pre .yellow-bg

  .row
    .col-sm-2
      .sg-circle.red-bg
    .col-sm-4.sg-example
      p For Ruby course
      span Variable:
        pre $red
      span Class:
        pre .red-bg

    .col-sm-2
      .sg-circle.gold-bg
    .col-sm-4.sg-example
      p For sponsor section
      span Variable:
        pre $gold
      span Class:
        pre .gold-bg

  .row
    .col-sm-2
      .sg-circle.blue-link-bg
    .col-sm-4.sg-example
      p For links
      span Variable:
        pre $blue-link
      span Class:
        pre .blue-link-bg

    .col-sm-2
      .sg-circle.blue-hello-bg
    .col-sm-4.sg-example
      p For 'Say Hello' button
      span Variable:
        pre $blue-hello
      span Class:
        pre .blue-hello-bg