.container
 .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  h2 Color Variables
 .style-container.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  .style-contents
   .style-item.col-md-6.col-sm-6
    .circle.gray-lighter-bg
     pre $gray-
     pre lighter
     p <a href="#" class="text-center">link</a>
    p.text-center Gray option for section backgrounds
    pre.text-center .gray-light-bg
   .style-item.col-md-6.col-sm-6
    .circle.gray-light-bg
     pre $gray-light
     p <a href="#" class="text-center">link</a>
    p.text-center Another gray option for containers
    pre.text-center .gray-light-bg
   .style-item.col-md-6.col-sm-6
    .circle.gray-med-bg 
     pre $gray-med
     p <a href="#" class="text-center">link</a>
    p.text-center Another gray option for a section
    pre.text-center .gray-med-bg
   .style-item.col-md-6.col-sm-6
    .circle.gray-dark-bg 
     pre $gray-dark
     p <a href="#" class="text-center">link</a>
    p.text-center Footer background & default text color
    pre.text-center .gray-dark-bg
   .style-item.col-md-6.col-sm-6
    .circle.blue-bg.link-w
     pre $blue
     p <a href="#" class="text-center">link</a>
    p.text-center For Mobile course
    pre.text-center .blue-bg .link-w
   .style-item.col-md-6.col-sm-6
    .circle.yellow-bg.link-w
     pre $yellow
     p <a href="#" class="text-center">link</a>
    p.text-center For JS course
    pre.text-center .yellow-bg .link-w
   .style-item.col-md-6.col-sm-6
    .circle.red-bg.link-w
     pre $red
     p <a href="#" class="text-center">link</a>
    p.text-center For Ruby course
    pre.text-center .red-bg .link-w
   .style-item.col-md-6.col-sm-6
    .circle.gold-bg.link-w
     pre $gold
     p <a href="#" class="text-center">link</a>
    p.text-center For sponsor section
    pre.text-center .gold-bg .link-w
   .style-item.col-md-6.col-sm-6
    .circle.blue-link-bg
     pre $blue-link
    p.text-center Link color