h2 Containers
.sg-container
  h2 Single Column Container
  pre &lt;div class="<strong>callout-box</strong>"&gt;
  pre  &lt;p&gt;Lorem ipsum&lt;/p&gt;
  pre  &lt;p&gt;More lorem&lt;/p&gt;
  pre  &lt;br&gt;
  pre  &lt;p&gt;Even more lorem&lt;/p&gt;
  pre &lt;/div&gt;
  .callout-box 
    p Questions? Want to know what makes us different?
    p Call <strong><a href="tel:+18553992275">(855) 399-2275</a> to talk to someone on the team.</strong>
    br
    p (You can also <a href="mailto:academy@theironyard.com?subject=I want to learn more about the academy">shoot us an email</a> or jump into our <a href="#">Academy Chat</a>.)
.col-sm-12
  // Begin Two Column Container
  h3 Two Column Containers
  h4 *Code*
  pre  &lt;div class="<strong>two-col-cont</strong>.col-sm-12"&gt;
  pre   &lt;div class="<strong>col-sm-6</strong>"&gt;
  pre    &lt;p&gt;Lorem ipsum... &lt;/p&gt;
  pre   &lt;/div&gt;
  pre   &lt;div class="<strong>col-sm-6</strong>"&gt;
  pre    &lt;p&gt;Lorem ipsum... &lt;/p&gt;
  pre   &lt;/div&gt;
  pre  &lt;/div&gt;
  br
  .two-col-cont.col-sm-12
    .col-sm-6
      h4 Left Column Copy
      p Vegan wayfarers quinoa photo booth. Tote bag VHS cliche art party, occupy freegan artisan. Polaroid kale chips flannel hella cred. Artisan High Life keytar, actually farm-to-table beard Blue Bottle ethnic PBR. Mlkshk Cosby sweater 90's, next level semiotics seitan umami Wes Anderson Austin forage leggings.
      ul
        li <a href="#">Link 1</a>
        li <a href="#">Link 2</a>
        li <a href="#">Link 3</a>
    .col-sm-6
      h4 Right Column Copy
      p Umami normcore jean shorts, Schlitz polaroid Godard twee wolf American Apparel roof party Truffaut Cosby sweater stumptown YOLO fap. Whatever pug ethnic tofu Brooklyn. Keffiyeh blog Schlitz umami, farm-to-table 8-bit authentic High Life mustache cliche. 
      a(href="#" class="btn") Learn More
  // Begin Two Column Bio Container
  h3.text-center Two Column Bio Container
  h4 *Code*
  pre &lt;div class="<strong>two-col-bio</strong>"&gt;
  pre  &lt;div class="<strong>two-col-bio-left</strong>"&gt;
  pre   &lt;img src="http://theironyard.com/images/education/academy/front-end-2/graduates/alison-miller.jpg" class="photo-alum&gt";
  pre   &lt;a class="btn btn-contact" href="mailto:joetamburro38@gmail.com?subject=I found you through The Iron Yard and I'd love to chat"&gt;
  pre  	 &lt;img src="http://theironyard.com/images/email.png"&gt;
  pre  	 &lt;p&gt;Say hello&lt;/p&gt;
  pre  	&lt;/a&gt;
  pre  &lt;/div&gt;
  pre  &lt;div class="<strong>two-col-bio-right</strong>"&gt;
  pre   &lt;h2&gt;Allison Miller&lt;/h2&gt;
  pre   &lt;h4&gt;Bio Title&lt;/h4&gt;
  pre   &lt;p&gt;Bio copy&lt;/p&gt;
  pre   &lt;ul class="links"&gt;
  pre    &lt;li&gt;&lt;a href="#"&gt; • Link 1&lt;/a&gt;&lt;/li&gt;
  pre    &lt;li&gt;&lt;a href="#"&gt; • Link 2&lt;/a&gt;&lt;/li&gt;
  pre    &lt;li&gt;&lt;a href="#"&gt; • Link 3&lt;/a&gt;&lt;/li&gt;
  pre   &lt;/ul&gt;
  pre  &lt;/div&gt;
  pre &lt;/div&gt;
  h4 *Example*
  .two-col-bio
    .two-col-bio-left
      img(src="http://theironyard.com/images/education/academy/front-end-2/graduates/alison-miller.jpg" class="photo-alum")
      a(class="btn btn-contact" href="mailto:joetamburro38@gmail.com?subject=I found you through The Iron Yard and I'd love to chat")
        img(src="http://theironyard.com/images/email.png")
        p Say hello
    .two-col-bio-right
      h2 Allison Miller
      h4 <em>Core Front End Dev at Benefit Focus</em>
      p American Apparel wayfarers normcore mustache, Truffaut Intelligentsia XOXO irony deep v photo booth locavore next level. Helvetica post-ironic four loko dreamcatcher normcore gluten-free, tofu Wes Anderson. Next level retro Schlitz, cardigan cliche jean shorts shabby chic. Hashtag cliche bitters cred Banksy salvia. Austin ennui raw denim Thundercats, wolf asymmetrical paleo. 
      ul.links
        li • <a href="#">Link 1</a>
        li • <a href="#">Link 2</a>
        li • <a href="#">Link 3</a>
        li • <a href="#">Link 4</a>
        li • <a href="#">Link 5</a>
  // Begin Two Column w/Side Bar Column
  h3.text-center Two Column With Side Bar Column
  h4 *Code*
  pre &lt;div class="<strong>two-col-sb</strong> col-sm-12"&gt;
  pre  &lt;div class="row"&gt;
  pre   &lt;div class="<strong>two-col-sb-left</strong> col-sm-8"&gt;
  pre    &lt;h2 Content Title&gt;
  pre    &lt;p&gt;More Content&lt;/p&gt;
  pre   &lt;/div&gt;
  pre   &lt;div class="<strong>two-col-sb-right</strong> col-sm-4"&gt;
  pre    &lt;h4&gt; Side Bar Title&lt;/h4&gt;
  pre    &lt;hr&gt;
  pre    &lt;p&gt;More Content&lt;/p&gt;
  pre   &lt;/div&gt;
  pre  &lt;/div&gt;
  pre &lt;/div&gt;
  h4 *Example*
  .two-col-sb.col-sm-12
    .row
      .two-col-sb-left.col-sm-8
        h2 Left Column Content
        p PBR hashtag vegan wolf ennui. Letterpress quinoa raw denim, hoodie kale chips stumptown biodiesel Echo Park scenester XOXO 8-bit you probably haven't heard of them. Banksy Helvetica gentrify, distillery hoodie selfies art party American Apparel Truffaut fashion axe irony Tumblr salvia 8-bit keffiyeh. Put a bird on it Thundercats DIY narwhal, disrupt kogi tofu irony pop-up ugh. 
        p Irony kitsch synth meh. Food truck Blue Bottle swag, wolf Odd Future slow-carb Etsy Intelligentsia synth High Life narwhal tofu. Sustainable ugh kale chips pop-up Blue Bottle Intelligentsia, Odd Future chillwave.
      .two-col-sb-right.col-sm-4
        h4 Right Column Content
        hr
        p More copy
        ul
          li <a href="#">Item 1</a>
          li <a href="#">Item 2</a>
          li <a href="#">Item 3</a>
// Begin Three Column Container with Call To Action
.col-sm-12
  h3.text-center Three Column Container w/Call To Action (cta)
  h4 *Code*
  pre &lt;div class="container"&gt;
  pre  &lt;div class="<strong>three-col-cta</strong> col-sm-12"&gt;
  pre   &lt;div class="<strong>image-box</strong> col-sm-2"&gt;
  pre    &lt;img src="http://theironyard.com/images/icons/front-end-engineering-logo.png"
  pre   &lt;/div&gt;
  pre   &lt;div class="<strong>copy-box</strong> col-sm-7"&gt;
  pre    &lt;h3&gt;Copy Title&lt;/h3&gt;
  pre    &lt;p&gt;Copy Text&lt;/p&gt;
  pre   &lt;/div&gt;
  pre   &lt;div class="<strong>cta-box</strong> col-sm-3 text-center"&gt;
  pre    &lt;a href="#" class="btn hover-yellow"&gt;Learn More&lt;/a&gt;
  pre   &lt;/div&gt;
  pre  &lt;/div&gt;
  pre &lt;/div&gt;
  h4 *Example*
.col-sm-12
  .three-col-cta.col-sm-12
    .col-sm-2.image-box
      img(src="http://theironyard.com/images/icons/front-end-engineering-logo.png")
    .col-sm-6.copy-box
      h3 Copy Title
      p Tote bag meh +1, master cleanse sustainable literally chia messenger bag fingerstache cray organic. Banksy deep v before they sold out iPhone umami. 
    .col-sm-4.cta-box
      a(href="#").btn.hover-yellow Learn More
  .col-sm-12
    h3 Remove image on small screens 
    h4 *Code*
    h5 *Add the "no-mobile-img" class to the "three-col-box" div like so:
    pre &lt;div class="three-col-cta <strong>no-mobile-img</strong> col-sm-12"&gt;
    h4 *Example*
.col-sm-12
  .three-col-cta.no-mobile-img.col-sm-12
    .col-sm-2.image-box
      img(src="http://theironyard.com/images/icons/front-end-engineering-logo.png")
    .col-sm-6.copy-box
      h3 Copy Title
      p Tote bag meh +1, master cleanse sustainable literally chia messenger bag fingerstache cray organic. Banksy deep v before they sold out iPhone umami. 
    .col-sm-4.text-center.cta-box
      a(href="#").btn.hover-yellow Learn More