.container
 .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  h2 Containers
 .style-container.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  .style-contents
   pre.text-center .questions-box
   .questions-box 
    p Questions? Want to know what makes us different?
    p Call <strong><a href="tel:+18553992275">(855) 399-2275</a> to talk to someone on the team.</strong>
    br
    p (You can also <a href="mailto:academy@theironyard.com?subject=I want to learn more about the academy">shoot us an email</a> or jump into our <a href="#">Academy Chat</a>.)
  div.divider
  pre.text-center .content-gray-bg
  .content-gray-bg
   h3.text-center A section background to break up the monotony.
   p.text-center Use this class to style the background of the div. Helps to break up the visual monotony. 