h2.section-headline Headers
.sg-container
  .row.red-bg.header
    .col-sm-12
      h1 Academy
    .col-sm-12
      a.feature Launch your company in the Accelerator.
        span(class="ss-navigateright ss-standard")
    .col-sm-12
      span.feature Amazing Southern food and drinks