h2 Headers
.sg-container
  .row.red-bg.header
    .col-sm-12
      h1 Academy (background disappears when sized down)
    .col-sm-12
      h1.feature Greenville, Grok! (needs a dark background; styled for links and not-links)
