h2 Navigation Styles
.sg-container
  .row
    .col-sm-12.yellow-bg
      ul.nav
        li 
          a locations
        li 
          a academy
        li 
          a accelerator
    .col-sm-12
      p Main Navigation Style
      pre .nav

  .row
    .col-sm-12.red-bg
      ul.nav-mute
        li 
          a jobs
        li
          a about
        li
          a news
        li
          a blog
    .col-sm-12
      p Muted Navigation Style
      pre .nav-mute

  .row      
    .col-sm-12.blue-bg
      ul.nav-sub
        li 
          a Hire Graduates
        li
          a Alumni
        li
          a FAQs
        li
          a Kids Classes
    .col-sm-12
      p Sub Navigation Style
      pre .nav-sub

  .row
    .col-sm-12.gray-dark-bg
      ul.nav-footer
        li 
          a about
        li
          a jobs
        li
          a news
        li
          a blogs
        li
          a locations
    .col-sm-12
      p Footer Navigation Style
      pre .nav-footer  