h2.section-headline Navigation
.sg-container
  .sg-section
    .sg-info
      h3 Header
    .sg-demo
      .header.yellow-bg
        .logo
          img(src="images/iron-yard-logo.svg")
        .nav
          .primary-nav
            ul
              li: a(href="#") Locations
              li: a(href="#") Events
              li: a(href="#") Academy
              li: a(href="#") Accelerator
          .secondary-nav
            ul
              li: a(href="#") Jobs
              li: a(href="#") About
              li: a(href="#") News
              li: a(href="#") Blog
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          .header.yellow-bg
            .logo
              img(src="images/iron-yard-logo.svg")
            .nav
              .primary-nav
                ul
                  li: a(href="#") Locations
                  li: a(href="#") Events
                  li: a(href="#") Academy
                  li: a(href="#") Accelerator
              ---
              .secondary-nav
                ul
                  li: a(href="#") Jobs
                  li: a(href="#") About
                  li: a(href="#") News
                  li: a(href="#") Blog


  .sg-section
    .sg-info
      h3 Top Navigation
    .sg-demo
      .sub-nav.blue-bg
        h2 Cool Nav
        ul
          li: a(href="#") Hire Graduates
          li: a(href="#") Alumni
          li: a(href="#") FAQs
          li: a(href="#") Kids Classes

    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          .sub-nav.blue-bg
            h2 Cool Nav
            ul
              li: a(href="#") Hire Graduates
              li: a(href="#") Alumni
              li: a(href="#") FAQs
              li: a(href="#") Kids Classes


  .sg-section
    .sg-info
      h3 Footer
    .sg-demo
      .container-fluid.gray-dark-bg
        //don't add this width in the wild
        .footer(style="width:90%")
          .row
            .logo
              img(src="/images/footer-logo.png")
            .footer-nav: ul
              li: a(href="/about") About
              li: a(href="/jobs") Jobs
              li: a(href="http://news.theironyard.com") News
              li: a(href="http://blog.theironyard.com") Blog
              li: a(href="/locations") Locations
              li: a(href="/academy") Academy
              li: a(href="/accelerator") Accelerator
            .social-nav: ul
              li: a(href="http://twitter.com/theironyard").ss-icon twitter
              li: a(href="http://facebook.com/theironyard").ss-icon facebook
              li: a(href="http://vimeo.com/theironyard").ss-icon vimeo  
            
            .copyright ©2014 The Iron Yard. All Rights Reserved  

    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          .container-fluid.gray-dark-bg
            .footer
              .row
                .logo
                  img(src="/images/footer-logo.png")
                .footer-nav: ul
                  li: a(href="/about") About
                  li: a(href="/jobs") Jobs
                  li: a(href="http://news.theironyard.com") News
                  . . .
                .social-nav: ul
                  li: a(href="http://twitter.com/theironyard").ss-icon twitter
                  li: a(href="http://facebook.com/theironyard").ss-icon facebook
                  li: a(href="http://vimeo.com/theironyard").ss-icon vimeo  
                
                .copyright ©2014 The Iron Yard. All Rights Reserved  

  //- .row
  //-   .col-xs-12.gray-dark-bg
  //-     ul.nav-footer
  //-       li 
  //-         a about
  //-       li
  //-         a jobs
  //-       li
  //-         a news
  //-       li
  //-         a blogs
  //-       li
  //-         a locations
  //-   .col-xs-12
  //-     p Footer Navigation Style
  //-     pre .nav-footer  
  //- .row
  //-   .col-xs-8.gray-dark-bg
  //-     ul.nav-sub-vertical
  //-       li 
  //-         a Asheville, NC 
  //-       li 
  //-         a Atlanta, GA 
  //-       li 
  //-         a Austin, TX
  //-       li 
  //-         a Charleston, SC
  //-       li 
  //-         a Durham, NC                    
  //-       li 
  //-         a Greenville, SC
  //-       li 
  //-         a Houston, TX
  //-       li 
  //-         a Spartanburg, SC
  //-       li 
  //-         a Tampa, FL              
  //-   .col-xs-12
  //-     p Sub-nav Vertical Navigation Style
  //-     pre .nav-sub-vertical  