.container
 .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  h2 Navigation Styles
 .style-container.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  .style-contents
   .style-item.col-sm-12.text-center.yellow-bg
    .col-sm-12.header
      ul.nav
        li 
          a locations
        li 
          a academy
        li 
          a accelerator
    .col-sm-6
      p Main Navigation Style
      pre .nav
    .col-sm-6
      p Header Shading Style
      pre .header
   .style-item.col-sm-12.text-center.red-bg
    .col-sm-12.header  
      ul.nav-mute
        li 
          a jobs
        li
          a about
        li
          a news
        li
          a blog
    .col-sm-6
      p Muted Navigation Style
      pre .nav-mute
    .col-sm-6
      p Header Shading Style
      pre .header