.container
  .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
    h2 Navigation Styles
  .style-container.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
    .style-contents
      .style-item.col-sm-12.text-center.yellow-bg
        .col-sm-12.row
          ul.nav
            li 
              a locations
            li 
              a academy
            li 
              a accelerator
    .col-sm-12.text-center.row
      p Main Navigation Style
      pre .nav
    .style-item.col-sm-12.text-center.red-bg
      .col-sm-12.row  
        ul.nav-mute
          li 
            a jobs
          li
            a about
          li
            a news
          li
            a blog
    .col-sm-12.text-center.row
      p Muted Navigation Style
      pre .nav-mute
    .style-item.col-sm-12.text-center.blue-bg
      .col-sm-12.row  
        ul.nav-sub
          li 
            a Hire Graduates
          li
            a Alumni
          li
            a FAQs
          li
            a Kids Classes
    .col-sm-12.text-center.row
      p Sub Navigation Style
      pre .nav-sub
    .style-item.col-sm-12.text-center.gray-dark-bg
      .col-sm-12.row  
        ul.nav-footer
          li 
            a about
          li
            a jobs
          li
            a news
          li
            a blogs
          li
            a locations
    .col-sm-12.text-center.row
      p Footer Navigation Style
      pre .nav-footer  