h2 Navigation Styles
.sg-container
  .row
    .col-xs-12.yellow-bg
      ul.nav
        li 
          a locations
        li 
          a academy
        li 
          a accelerator
    .col-xs-12
      p Main Navigation Style
      pre .nav

  .row
    .col-xs-12.red-bg
      ul.nav-mute
        li 
          a jobs
        li
          a about
        li
          a news
        li
          a blog
    .col-xs-12
      p Muted Navigation Style
      pre .nav-mute

  .row      
    .col-xs-12.blue-bg
      ul.nav-sub
        li 
          a Hire Graduates
        li
          a Alumni
        li
          a FAQs
        li
          a Kids Classes
    .col-xs-12
      p Sub Navigation Style
      pre .nav-sub

  .row
    .col-xs-12.gray-dark-bg
      ul.nav-footer
        li 
          a about
        li
          a jobs
        li
          a news
        li
          a blogs
        li
          a locations
    .col-xs-12
      p Footer Navigation Style
      pre .nav-footer  
  .row
    .col-xs-8.gray-dark-bg
      ul.nav-sub-vertical
        li 
          a Asheville, NC 
        li 
          a Atlanta, GA 
        li 
          a Austin, TX
        li 
          a Charleston, SC
        li 
          a Durham, NC                    
        li 
          a Greenville, SC
        li 
          a Houston, TX
        li 
          a Spartanburg, SC
        li 
          a Tampa, FL              
    .col-xs-12
      p Sub-nav Vertical Navigation Style
      pre .nav-sub-vertical  