.container
 .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  h2 Navigation Styles
 .style-container.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  .style-contents.col-lg-12.col-md-12.col-sm-12
   .style-item.col-sm-12.text-center.yellow-bg
    .header
      ul.nav
        li 
          a locations
        li 
          a academy
        li 
          a accelerator
      p Main navigation style
      pre .nav
     .style-item.col-sm-12.text-center
      ul.nav-mute
        li 
          a jobs
        li
          a about
        li
          a news
        li
          a blog
      p Muted navigation style
      pre .nav-mute