.container
 .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  h2 Photos and Images
 .style-container.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  .style-contents.col-lg-12.col-md-12.col-sm-12
   .style-item.col-sm-12.text-center
    img(src="http://theironyard.com/images/locations/atlanta/atlanta-program-academy.jpg").photo
    p Small Photo (default photo style)
    pre .photo or .photo-sm
  .style-item.col-sm-12.text-center
    img(src="http://theironyard.com/images/education/academy/front-end-2/faq/faq-image-3.jpg").photo-md
    p Medium Photo
    pre .photo-md
  .style-item.col-sm-12.text-center
    img(src="http://theironyard.com/images/education/academy/front-end-2/mason-teaching.jpg").photo-lg
    p Large Photo
    pre .photo-lg
   .style-item.col-sm-12.text-center
    img(src="http://theironyard.com/images/education/academy/front-end-2/graduates/alison-miller.jpg").photo-bio
    p Biography Photo
    pre .photo-bio
  .style-item.col-sm-12.text-center
   img(src="http://theironyard.com/images/accelerator/mentors/accelerator_mentors_irene_au.png").photo-mentor
   p Mentor Photo
   pre .photo-mentor