h2 Photos and Images
.sg-container
  .sg-section
    .sg-info
      h3 Thumbnail Photo
      p It's cool for small photos.
    .sg-demo
      img.photo-thumbnail(src="images/sg/big-donuts.jpg")
    .sg-code
      pre
        code.prettyprint.lang-jade.
          --- 
          img.photo-thumbnail(src="images/sg/big-donuts.jpg")

.sg-container
  .sg-section
    .sg-info
      h3 Container-width Photo
      p This is great when you don't care.
    .sg-demo
      img.photo(src="images/sg/so-many-donuts.jpg")
    .sg-code
      pre
        code.prettyprint.lang-jade.
          --- 
          img.photo(src="images/sg/so-many-donuts.jpg")

.sg-container
  .sg-section
    .sg-info
      h3 Thumbnail Photo
    .sg-demo
      img.photo-bio(src="images/sg/chocolate-donuts.jpg")
    .sg-code
      pre
        code.prettyprint.lang-jade.
          --- 
          img.photo-bio(src="images/sg/chocolate-donuts.jpg")

.sg-container
  .sg-section
    .sg-info
      h3 Thumbnail Photo
    .sg-demo
      img.photo-mentor(src="images/sg/strawberry-donuts.jpg")
    .sg-code
      pre
        code.prettyprint.lang-jade.
          --- 
          img.photo-mentor(src="images/sg/strawberry-donuts.jpg")

