h2 Photos and Images
.sg-container
  .row
    .col-sm-12
      img.photo-thumbnail(src="images/sg/big-donuts.jpg")
      p Thumbnail Photo
      pre .photo-thumbnail
    .col-sm-12
      img.photo(src="images/sg/so-many-donuts.jpg")
      p Container-width Photo
      pre .photo
    .col-sm-12
      img.photo-bio(src="images/sg/chocolate-donuts.jpg")
      p Bio Photo
      pre .photo-bio
    .col-sm-12
      img.photo-mentor(src="images/sg/strawberry-donuts.jpg")
      p Mentor Photo
      pre .photo-mentor