.container
 .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  h2 Photos and Images
 .style-container.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  .style-contents.col-lg-12.col-md-12.col-sm-12
   .style-item.col-md-6.col-sm-6.text-center
    img(src="http://theironyard.com/images/education/academy/front-end-2/faq/faq-image-3.jpg").photo
   .style-item.col-md-6.col-sm-6.text-center
    img(src="http://theironyard.com/images/education/academy/front-end-2/graduates/alison-miller.jpg").photo-bio