h2 Photos and Images
.sg-container
  .row
    .col-sm-12
      img(src="http://theironyard.com/images/locations/atlanta/atlanta-program-academy.jpg").photo-thumbnail
      p Thumbnail Photo
      pre .photo-thumbnail
    .col-sm-12
      img(src="http://theironyard.com/images/education/academy/front-end-2/faq/faq-image-3.jpg").photo
      p Container-width Photo
      pre .photo
    .col-sm-12
      img(src="http://theironyard.com/images/education/academy/front-end-2/graduates/alison-miller.jpg").photo-bio
      p Bio Photo
      pre .photo-bio
    .col-sm-12
      img(src="http://theironyard.com/images/accelerator/mentors/accelerator_mentors_irene_au.png").photo-mentor
      p Mentor Photo
      pre .photo-mentor