h2 Tables
.sg-container
  .sg-section
    .sg-info
      h3 Class Table
    .sg-demo
      h3.blue-text Table title
      table.class-table
        tbody
          tr.active
            td Start date
            td Location
            td Instructor
            td 
              a.btn(href="#") Closed
          tr
            td Start date
            td Location
            td Instructor
            td 
              a.btn(href="#") Apply
          tr
            td Start date
            td Location
            td Instructor
            td 
              a.btn(href="#") Wait List
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          h3.blue-text Table title
          table.class-table
            tr.active
              td Start date
              td Location
              td Instructor
                a.btn(href="#") Closed
            tr
              td Start date
              td Location
              td Instructor
                a.btn(href="#") Apply
            tr
              td Start date
              td Location
              td Instructor
                a.btn(href="#") Wait List
  