.container
 .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  h2 Typography
 .style-container.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  .style-contents.col-lg-12.col-md-12.col-sm-12
   p Here is what a paragraph would look like. And here is a <a href="#">link</a>.