h2.section-headline Typography
.sg-container
  .sg-section
    .sg-info
      h3 Headings
    .sg-demo
      h1 h1. Hella mumblecore
      h2 h2. Letterpress fashion axe
      h3 h3. Deep v bicycle rights
      h4 h4. Put a bird on it
      h5 h5. Tofu organic
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          h1 Hella mumblecore
          h2 Letterpress fashion axe
          h3 Deep v bicycle
          h4 Put a bird on it
          h5 Tofu organic
  
  .sg-section
    .sg-info
      h3 Paragraphs
    .sg-demo
      p Art party wayfarers Schlitz photo booth lomo, authentic whatever bicycle rights Thundercats DIY. Master cleanse Portland squid, beard keytar Helvetica sriracha street art gentrify art party ethnic. Typewriter fixie kale chips craft beer Truffaut. Vegan direct trade meh, pour-over actually kale chips wayfarers Portland. Cardigan Williamsburg flexitarian, narwhal master cleanse McSweeney's banh mi letterpress ennui brunch chia polaroid hoodie meggings 8-bit. 
      p Here is what a paragraph would look like. And here is a <a href="#">link</a>.
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          p Art party wayfarers Schlitz photo booth lomo ... 
          ---
          p Here is what a paragraph with a &lt;a href="#"&gt;link&lt;/a&gt;.

  
  .sg-section
    .sg-info
      h3 Unordered Lists
    .sg-demo 
      ul
        li Selvage Portland keytar
        li Hashtag PBR&amp;B
        li <strong>For longer bullets, use the &lt;strong&gt; tag at the beginning.</strong>Wes Anderson craft beer 90's, leggings bitters gentrify gastropub normcore Shoreditch polaroid Cosby sweater tattooed. Drinking vinegar brunch leggings Carles, chillwave authentic cray stumptown cardigan hella. Meh artisan lo-fi pour-over distillery. Gluten-free put a bird on it drinking vinegar, Thundercats mumblecore wayfarers blog scenester small batch. 
        ul
          li Raw denim
          li Gluten-free Etsy pug
          li Thundercats
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          ul
            li Selvage Portland keytar
            li Hashtag PBR&B
            li &lt;strong&gt;For longer bullets ...&lt;/strong&gt; ...
            ul
              li Raw denim
              li Gluten-free Etsy pug
              li Thundercats

  .sg-section
    .sg-info
      h3 Ordered Lists
    .sg-demo 
      ol
        li Direct trade
        li Neutra bitters
        li Wes Anderson
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          ol
            li Direct trade
            li Neutra bitters
            li Wes Anderson
  
  .sg-section
    .sg-info
      h3 Pullquotes
    .sg-demo
      blockquote 
        p "Organic YOLO chambray American Apparel kale chips. Squid stumptown cardigan gentrify, try-hard seitan sartorial gluten-free messenger bag before they sold out." 
        footer - Hispteria Crazedor, Coffee Shop Prophet
    .sg-code
      pre
        code.prettyprint.lang-jade.
          ---
          blockquote
            p. 
              "Organic YOLO chambray American Apparel kale chips. 
              Squid stumptown cardigan gentrify, try-hard seitan 
              sartorial gluten-free before they sold out." 
            footer - Hispteria Crazedor, Coffee Shop Prophet