.container
 .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  h2 Typography
 .style-container.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
  .style-contents
   h3 Headings
   h1 h1. Hella mumblecore keffiyeh
   h2 h2. Letterpress fashion axe fap
   h3 h3. Deep v bicycle rights
   h4 h4. Put a bird on it
   h5 h5. Tofu organic
   .divider
   h3 Paragraphs
   p Art party wayfarers Schlitz photo booth lomo, authentic whatever bicycle rights Thundercats DIY. Master cleanse Portland squid, beard keytar Helvetica sriracha street art gentrify art party ethnic. Typewriter fixie kale chips craft beer Truffaut. Vegan direct trade meh, pour-over actually kale chips wayfarers Portland. Cardigan Williamsburg flexitarian, narwhal master cleanse McSweeney's banh mi letterpress ennui brunch chia polaroid hoodie meggings 8-bit. 
   p Here is what a paragraph would look like. And here is a <a href="#">link</a>.
   .divider
   h3 Lists
   h4 Unordered Lists
   ul
    li Selvage Portland keytar
    li Hashtag PBR&B
    li <strong>For longer bullets, use the &lt;strong&gt; tag at the beginning.</strong>Wes Anderson craft beer 90's, leggings bitters gentrify gastropub normcore Shoreditch polaroid Cosby sweater tattooed. Drinking vinegar brunch leggings Carles, chillwave authentic cray stumptown cardigan hella. Meh artisan lo-fi pour-over distillery. Gluten-free put a bird on it drinking vinegar, Thundercats mumblecore wayfarers blog scenester small batch. 
    ul
     li Raw denim
     li Gluten-free Etsy pug
     li Thundercats
   h4 Ordered Lists
   ol
    li Direct trade
    li Neutra bitters
    li Wes Anderson 
   .divider
   h3 Pullquotes
   pre &lt;blockquote&gt;
   pre  &lt;p&gt;"Quote"&lt;/p&gt;
   pre  &lt;footer&gt;- Author&lt;/footer&gt;
   pre &lt;/blockquote&gt;
   blockquote 
    p "Organic YOLO chambray American Apparel kale chips. Squid stumptown cardigan gentrify, try-hard seitan sartorial gluten-free messenger bag before they sold out." 
    footer - Hispteria Crazedor, Coffee Shop Prophet