doctype
html
  head
    link(type="text/css" rel="stylesheet" media="all" href="/stylesheets/ghost-shield.css")
    link(href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    script(type="text/javascript" src="//use.typekit.net/zza7guc.js")
    script(type="text/javascript") try{Typekit.load();}catch(e){}
  body
    include examples/colors
    include examples/buttons
    include examples/typography
    include examples/containers